@charset "utf-8";
@import 'public';
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
#login-contain{
    width: 100%;
    height: 100%;
    header{
        width: 100%;
        height: 30%;
        background: url(../images/msd-logo.png) no-repeat center center;
        background-size: 4.09rem 1.33rem;
    }
    form{
        width: 94%;
        margin: 0 auto;       
        margin-top: .35rem;
        p{
            width: 100%;
            padding: .48rem 0;
            border-bottom: 1px solid #b4bbbf;
            label{
                width: 15%;                             
                box-sizing: border-box;
                padding-left: .1rem;
                display: inline-block;
                text-align: center;
                img{
                    width: 40%;               
                }
            }
            input{
                background: none;
                width: 70%;
                padding-left: .3rem;
                color: #fff;
                border: none;
                font-size: .3rem;
            }
            .eye{
                display: inline-block;
                width: .42rem;
                height: .26rem;
                background: url(../images/icon-eye.png) no-repeat;
                background-size: 100% 100%;
            }
            .eye.show{              
                background: url(../images/icon-eye-show.png) no-repeat;
                background-size: 100% 100%;
            }
        }
        .last{
            border-bottom: none;
            a{
                color: #fff;
                font-size: .3rem;
                input{
                    width: .25rem;
                    height: .25rem;
                   
                }
                input[type="checkbox"]:checked:before{
                  content: "\e601";
                  color: #fff; 
                  font-size: .35rem;
                }
                input[type="checkbox"]:before{
                  content: "\e504";
                  color: #fff;
                  font-size: .35rem;
                }
                span{
                    margin-left: 18px;
                }
            }
            .ui-blue{
                color: #0096ff;
                padding: 0 .3rem;
            }           
        }
        .last .ui-blue:nth-child(1){
            background: url(../images/a-bg.png) no-repeat right center;
        }
        .btn-login {
            text-align: center;
            padding: 0;
            height: .8625rem;          
            background: url(../images/login-bg.png) no-repeat;
            button{
                color: #fff;
                height: .8625rem;
                line-height: .8625rem;
                font-size: .42rem;
                font-weight: 500;
            }
        }
        
    }
    .version{ 
        width: 100%;     
        text-align: center;
        color: #b4bbbf;
        font-size: .285rem;
        position: absolute;
        left: 0;
        bottom: .5rem;
    }
    @include respond-to('sm') {
        header{
            height: 27%;
            background: url(../images/msd-logo.png) no-repeat center center;
            background-size: 3.5rem 1rem;
        }
        form{
            p{
                padding: .38rem 0;
            }
        }
    }
    .register-form{    
        p{
            width: 100%;
            padding: .33rem 11% .23rem 11%;
            @include boxSizing();
            border: none;
            background: url(../images/input-btbg.png) no-repeat center bottom;
            background-size: 78% .09rem;
            label{
                width: 24%;
                text-align: left;
                font-size: .3rem;               
            }
            .changepsw-label{
                width: 15%;
                padding-left: 12px;
                img{
                    width: 65%;
                }
            }
            input{
                width: 68%;
                color: #333333;
                font-size: .32rem;
            }
            @include respond-to('i5'){
                label{
                    width: 26%;                   
                }
                input{
                    width: 64%;
                }
            }
        }
        button{
            width: 100%;
            text-align: center;
            background: #2884f3;
            margin-top: .75rem;
            height: 1.15rem;
            line-height: 1.15rem;
            color: #fff;
            font-size: .34rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .personnal-info{
        height: 53%;
        padding-top: 0;
        li{
            width: 100%;
            height: 22.5%;
            padding: 0 .4rem 0 .6rem;
            @include boxSizing();
            img{
                width: .6rem;
                height: .6rem;
                margin-right: .3rem;
            }
            a{
                color: #2884f3;
                font-size: .32rem;
            }
        }
        li:nth-child(1){
            background: #2884f3;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 32%;
            padding: 0 .4rem 0 .6rem;
            span{
                color: #fff;
                display: block;
                font-size: .28rem;
            }
            .iconfont{
                font-size: .44rem;
            }
            img{
                height: 1.6rem;
                width: 1.6rem;
            }
            span:nth-child(2){
                width: 65%;
                padding-left: 12px;
                @include boxSizing();
                i{
                    display: block;
                }
            }
        }
    }
}
