@charset "utf-8";
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/body-bg.jpg) no-repeat left top;
    background-size: 100% 100%;
}

@mixin borderRadius($width: 5px) {
    -webkit-border-rddius: $width;
    border-radius: $width;
}
@mixin boxSizing($box: border-box) {
    -webkit-box-sizing: $box;
    box-sizing: $box;
}
.wrapper{
    width: 94%;
    padding-top: .4rem;
    margin: 0 auto;       
    margin-top: .35rem;
    background: #fff;
    @include borderRadius(10px);
}

$breakpoints: (
    'i5': 'only screen and ( max-width: 320px)',
    'xs': 'only screen and ( min-width: 414px)',
    'sm': 'only screen and ( min-width: 768px)',
    'md': 'only screen and ( min-width: 992px)',
    'lg': 'only screen and ( min-width: 1200px)',
) !default;
@mixin respond-to($breakpoint) {
    $query: map-get($breakpoints, $breakpoint);
      
    @if not $query {
        @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
    }

    @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
        @content;
    }
}